
trigger: none

pool: mera-pool

stages:
- stage: 
  jobs:
  - job: 
    steps:
    # - task: Maven@4
    #   inputs:
    #     azureSubscription: 'gusi-sc'
    #     mavenPomFile: 'pom.xml'
    #     publishJUnitResults: true
    #     testResultsFiles: '**/surefire-reports/TEST-*.xml'
    #     javaHomeOption: 'JDKVersion'
    #     mavenVersionOption: 'Default'
    #     mavenAuthenticateFeed: false
    #     effectivePomSkip: false
    #     sonarQubeRunAnalysis: false

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          # Pre-check if MAVEN is already installed . . .
          mvn --version



# - stage: 
#   jobs:
#   - job: 
#     steps:
