
trigger: none

pool: mera-pool

stages:
- stage: 
  jobs:
  - job: 
    steps:
    # - task: Maven@4
    #   inputs:
    #     azureSubscription: 'gusi-sc'
    #     mavenPomFile: 'pom.xml'
    #     goals: 'mvn clean package'
    #     publishJUnitResults: true
    #     testResultsFiles: '**/surefire-reports/TEST-*.xml'
    #     javaHomeOption: 'JDKVersion'
    #     mavenVersionOption: 'Default'
    #     mavenAuthenticateFeed: false
    #     effectivePomSkip: false
    #     sonarQubeRunAnalysis: false

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          # Pre-check if MAVEN is already installed . . .
          mvn --version
          mvn clean package

    - task: PublishPipelineArtifact@1
      displayName: Publish Artifacts
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/target'
        artifact: 'my-java'
        publishLocation: 'pipeline'


# ================= DEPLOY =================


# - stage: 
#   jobs:
#   - job: 
#     steps:
#     - task: DownloadPipelineArtifact@2
#       inputs:
#         buildType: 'current'
#         artifactName: 'my-java'
#         targetPath: '$(System.DefaultWorkingDirectory)/target'


# Using CopyFilesOverSSH & SSH . . . . . . . . . . . . . . . . . . . 

    # - task: CopyFilesOverSSH@0
    #   inputs:
    #     sshEndpoint: 'my-java-vm'
    #     sourceFolder: '$(System.DefaultWorkingDirectory)/target'
    #     contents: '*.war'
    #     targetFolder: '/home/ambition'
    #     readyTimeout: '20000'

    # - task: SSH@0
    #   inputs:
    #     sshEndpoint: 'my-java-vm'
    #     runOptions: 'inline'
    #     inline: 'sudo cp -r /home/ambition/* /var/lib/tomcat10/webapps/'
    #     readyTimeout: '20000'


# Using ENVIRONMENT . . . . . . . . . . . . . . . . . . . . . . . .

- stage: deploy
  jobs:
  - deployment: DeployWeb
    displayName: deploy JAVA App
    environment: 
      name: 'Java_App'
      resourceName: javan-env-VM   # If we have multiple VM to deploy same then not need to define
      resourceType: virtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'my-java'
              targetPath: '$(System.DefaultWorkingDirectory)/target'          
                
          - task: Bash@3
            displayName: Copy Artifacts
            inputs:
              targetType: 'inline'
              script: 'sudo cp -r $(System.DefaultWorkingDirectory)/target/*.war /var/lib/tomcat10/webapps/'
  


